<ul class="posts__list">
	{{#each posts}}
		<li class="posts__item">
			<div class="post-image">
				<img src="/assets/img/posts/{{this.id}}.jpg" alt="">
			</div>
			<div class="post-content">
				<span class="post-type">MINIMALISM</span>
				<h2 class="post-heading">{{ this.title }}</h2>
				<div class="post-info">
					<span class="post-author">Leslie Pena</span>
					<div class="post-dot">
						<div class="post-dot-figure"></div>
					</div>
					<span class="post-date">April 25, 2012</span>
					<span class="post-ago">(6 mins read)</span>
				</div>
				<p class="post-text">{{ this.body }}</p>
			</div>
		</li>
	{{/each}}
</ul>
