<div class="featured__post-picture">
	<img src="/assets/img/article.jpg" alt="">
</div>
<span class="featured__post-type">Featured Article</span>
<h2 class="featured__post-heading">{{ post.title }}</h2>
<div class="featured__post-info">
	<span class="featured__post-author">Ralph Hawkins</span>
	<div class="featured__post-dot"></div>
	<span class="featured__post-date">May 7, 2019</span>
	<span class="featured__post-ago">(10 mins read)</span>
</div>
<p class="featured__post-text">{{ post.body }}</p>