<div class="post-picture">
	<img src="/assets/img/article.jpg" alt="">
</div>
<span class="post-type">Featured Article</span>
<h2 class="post-heading">{{ post.title }}</h2>
<div class="post-info">
	<span class="post-author">Ralph Hawkins</span>
	<div class="post-dot">
		<div class="post-dot-figure"></div>
	</div>
	<span class="post-date">May 7, 2019</span>
	<span class="post-ago">(10 mins read)</span>
</div>
<p class="post-text">{{ post.body }}</p>