<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<header class="header container">
		<div class="header__logo">
			<div class="header__logo-rect"></div>
			<span class="header__logo-text"><span>nu</span>ntium.</span>
		</div>
		<ul class="header__menu">
			<li>Home</li>
			<li>Tags</li>
			<li>About</li>
		</ul>
	</header>
	<section class="featured container">
		<div class="featured__content">
			<div class="featured__post single-post"></div>
		</div>
	</section>
	<section class="posts container">
		<h2 class="posts-heading">Editor’s Picks</h2>
		<div id="posts"></div>
	</section>
	<section class="focus container">
		<div class="focus__content">
			<div class="focus__post single-post"></div>
		</div>
	</section>
</body>
</html>