<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<header class="header container">
		<div class="header__logo">
			<div class="header__logo-rect"></div>
			<span class="header__logo-text"><span>nu</span>ntium.</span>
		</div>
		<ul class="header__menu">
			<li>Home</li>
			<li>Tags</li>
			<li>About</li>
		</ul>
	</header>
	<section class="hero container">
		<div class="hero__picture">
			<img src="/assets/img/article.jpg" alt="">
		</div>
	</section>
	<section class="body container">
		<div class="body__content" id="body"></div>
	</section>
	<section class="author container">
		<div class="author__content">
			<span class="author__lead">ABOUT THE AUTHOR</span>
			<div class="author__item">
				<div class="author__picture">
					<img src="/assets/img/author.jpg" alt="">
				</div>
				<div class="author__info">
					<span class="author__name">Arthur Black</span>
					<span class="author__id">@arthurblack</span>
					<p class="author__text">Ipsum adipisicing culpa est nisi consequat ex amet magna culpa veniam tempor irure ea. Reprehenderit labore do tempor eiusmod in consectetur ex sunt id mollit commodo ipsum deserunt quis.</p>
				</div>
			</div>
		</div>
	</section>
</body>
</html>