<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<header class="header container">
		<a href='/' class="header__logo">
			<div class="header__logo-rect"></div>
			<span class="header__logo-text"><span>nu</span>ntium.</span>
		</a>
		<nav class="header__menu">
			<a href='/'>Home</a>
			<a>Tags</a>
			<a>About</a>
		</nav>
	</header>
	<section class="hero container">
		<div class="hero__picture">
			<img src="/assets/img/article.jpg" alt="">
		</div>
	</section>
	<section class="body container">
		<article class="body__content" id="body"></article>
	</section>
	<section class="author container">
		<div class="author__content">
			<span class="author__lead post__type">ABOUT THE AUTHOR</span>
			<div class="author__item">
				<div class="author__picture">
					<img src="/assets/img/author.jpg" alt="">
				</div>
				<div class="author__info">
					<span class="author__name h2">Arthur Black</span>
					<span class="author__id">@arthurblack</span>
					<p class="author__text">Ipsum adipisicing culpa est nisi consequat ex amet magna culpa veniam tempor irure ea. Reprehenderit labore do tempor eiusmod in consectetur ex sunt id mollit commodo ipsum deserunt quis.</p>
				</div>
			</div>
		</div>
	</section>
	<nav class='navigation'>
		<a href='/post.html' class="navigation__item navigation__item_prev">
			<div class="navigation__item-arrow">
				<svg>
					<use xlink:href="#arrow"></use>
				</svg>
			</div>
			<div class="navigation__item-info">
				<span class="navigation__item-text">
					<span>Go back:</span>
					<b>Boom boom pow is et Letstrade.</b>
				</span>
			</div>
		</a>
		<a href='/post.html' class="navigation__item navigation__item_next">
			<div class="navigation__item-info">
				<span class="navigation__item-text">
					<span>Next up:</span>
					<b>Lorem ipsum so Ceat Riak</b>
				</span>
			</div>
			<div class="navigation__item-arrow">
				<svg>
					<use xlink:href="#arrow"></use>
				</svg>
			</div>
		</a>
	</nav>
</body>
</html>