@font-face {
  font-weight: normal;
  font-family: 'LibreBaskerville-Regular';
  font-style: normal;
  src: url('@/assets/fonts/LibreBaskerville-Regular.woff2') format('woff2'), url('@/assets/fonts/LibreBaskerville-Regular.woff') format('woff');
}

@font-face {
  font-weight: 700;
  font-family: 'LibreBaskerville-Bold';
  font-style: normal;
  src: url('@/assets/fonts/LibreBaskerville-Bold.woff2') format('woff2'), url('@/assets/fonts/LibreBaskerville-Bold.woff') format('woff');
}

@font-face {
  font-weight: normal;
  font-family: 'OpenSans-Regular';
  font-style: normal;
  src: url('@/assets/fonts/OpenSans-Regular.woff2') format('woff2'), url('@/assets/fonts/OpenSans-Regular.woff') format('woff');
}