<div class="post__picture">
	<img src="/assets/img/article.jpg" alt="">
</div>
<span class="post__type">Featured Article</span>
<h2 class="post__heading">{{ post.title }}</h2>
<div class="post__info">
	<span class="post__author">Ralph Hawkins</span>
	<div class="post__dot">
		<div class="post__dot-figure"></div>
	</div>
	<span class="post__date">May 7, 2019</span>
	<span class="post__ago">(10 mins read)</span>
</div>
<p class="post__text">{{ post.body }}</p>