.focus {
	margin-bottom: 2.5rem;
}

.focus__content {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-image: url('@/assets/img/article_focus.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	padding: 5.5rem 7.8rem;
	transition: all 1s ease-in-out;
}

.focus__content:hover {
	background-size: auto 105%;
}

.focus__post {
	width: 38.6%;
	padding: 7.5rem 4rem;
	background-color: white;
	cursor: pointer;
	border: 5px solid transparent;
	transition: all 0.5s ease-in-out;
}

.focus__content:hover .focus__post {
	border-color: black;
}

.focus__content:hover .focus__post .post__type, .focus__content:hover .focus__post .post__info {
	color: rgba(28, 28, 28, 1);
}

@media screen and (max-width: 1200px) {
	.focus__post {
		width: 50%;
	}
}

@media screen and (max-width: 980px) {
	.focus__content {
		align-items: flex-start;
		padding: 0;
	}

	.focus__post {
		width: 65%;
    margin-right: 4.5rem;
    margin-bottom: 11rem;
	}
}

@media screen and (max-width: 768px) {
	.focus__post {
		width: 80%;
	}
}

@media screen and (max-width: 575px) {
	.focus__content {
		padding: 0;
		margin: 0;
		background-image: none;
	}

	.focus__post {
		width: 100%;
		margin-right: 0;
		margin-bottom: 0;
		padding: 0;
		border: none;
	}

	.focus__post-picture {
		display: block;
		width: 100%;
	}

	.focus__post-picture img {
		width: 100%;
	}
}